.weather-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.weather-item {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1;
    min-width: 120px;
}

.forecast-day {
    font-weight: bold;
    text-transform: capitalize;
}

.forecast-description {
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-bottom: 5px;
}