.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info img {
    width: 100px;
}

.temperature {
    font-size: 2.5rem;
    font-weight: bold;
}

.description {
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.details {
    display: flex;
    justify-content: space-around;
}