.container {
  text-align: center;
  max-width: 1000px;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  width: 300px;
}

button {
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #ff9800;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f57c00;
}