* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }